body {
  font-family: "Heebo", sans-serif;
  color: #777;
}
a {
  text-decoration: none;
}
h1,
h2,
h4 {
  color: #000;
}
ul {
  list-style-type: none;
}
section {
  padding: 4rem 3rem;
}
.nav-btn{
  background-color: #fff;
 
}
.black-top {
  padding: 1rem 5rem;
  background-color:  #4dabff;
}

.mass-or {
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  padding: 15rem 0;
  color: #fff;
}
.nav-anchor {
  color: #fff;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 12px;
  cursor: pointer;
}
.nav-anchor:hover {
  color: #fff;
}
.nav-anchor-btn {
  color: #fff;
  border: 1px solid white;
  border-radius: 2px;
  font-size: 13px;
  padding: 10px 30px;
}
.nav-anchor-btn:hover {
  background-color: #fff;
  border: 1px solid white;
}
.marg-top {
  margin-top: 3rem;
}
.first-h1 {
  margin-top: 0;
  font-size: 48px;
  font-weight: bold;
  font-family: "Heebo", sans-serif;
  line-height: 54px;
  margin-bottom: 20px;
  color: #fff;
}
.start-btn{
  background-color: transparent;
  color: #fff;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
}
.start-btn:hover{
  color: #000;
  background-color: #fff; 
  border: 1px solid white;
}
.dwn-btn{
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  padding: 10px 30px;
  transition: 0.3s ease-in-out;
}
.dwn-btn:hover{
  color: #fff;
  background-color: transparent;
}
/* ===== Second Section ===== */
.work {
  text-align: center;
  color: #777;
}
.work p {
  font-size: 14px;
  line-height: 24px;
}
.work h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 15px;
  text-transform: uppercase;
}
.card-i {
  height: 80px;
  width: 80px;
  border: 1px solid #eee;
  border-radius: 5px;
  background: #f9f9ff;
  display: inline-block;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
  color: #222;
  margin-bottom: 30px;
  transition: 0.3s;
}
.con {
  text-align: center;
  margin-bottom: 50px;
}
.con:hover i {
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  color: #fff;
}
.con h4 {
  font-size: 20px;
  margin-bottom: 15px;
}
.con-a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease-in-out;
}
.con-a:hover {
  color: #007bff;
}

/* ===== Features ===== */
.features {
  background: #edf6ff;
}
.ul-feature {
  width: 100%;
  list-style: none;
}
.nav-tabs {
  border: none;
  padding: 1rem;
}
.features .nav-tabs .nav-link.active {
  border: none;
}
.l-active {
  box-shadow: 0 10px 30px 0 rgb(0 0 0 / 10%);
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  color: #495057;
  color: #fff;
  text-decoration: none;
  display: block;
}
.features .nav-item {
  text-decoration: none;
  margin: 10px;
}
.features .nav-item a {
  text-transform: uppercase;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 1rem 3rem;
  font-weight: 700;
}
.easy-life {
  margin: 3rem 0;
}
.gt-started {
  background-image: -webkit-linear-gradient(0deg, #4dabff 0%, #62ddff 100%);
  border: none;
  color: #fff;
  margin-top: 1rem;
  border-radius: 4px;
  font-weight: 700;
  font-size: 14px;
  padding: 1rem 1.6rem;
}

/* ===== Plans ===== */
.column-price{
  margin: 2rem 0;
}
.price-des {
  max-width: 360px;
  text-align: center;
  border-radius: 5px;
  border: 1px solid #eee;
}
.price-row{
  margin-top: 3rem;
}
.top-price {
  text-align: center;
  background: #edf6ff;
  padding: 35px 0;
  border-bottom: 1px solid #eee;
}
.btw-price {
  padding: 30px 0;
}
.bottom-price {
  max-width: 280px;
  margin: 0 auto 40px;
  background: #edf6ff;
  border-radius: 5px;
  padding-top: 35px;
  padding-bottom: 40px;
}
.price-list a {
  font-size: 14px;
  color: #777;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: normal;
}
.bottom-price h3 {
  color: #222;
  font-size: 72px;
}
.price-dlr {
  font-size: 24px;
  vertical-align: top;
  padding-top: 14px;
  display: inline-block;
}
.price-month {
  font-size: 14px;
  color: #777;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-align: left;
}
@media screen and (max-width: 700px) {
  .black-top {
    background-color: #000;
  }
  .nav-link{
    border-bottom: 1px solid gray;
  }
  .nav-anchor-btn{
    display: none;
  }
}
